/* 앱 전용 쿠폰 2종 받기 */
.coupon {
    width: 100%; margin:0 auto;
    background-color: #474949;
}
.coupon a {
    width: 1452px; margin: 0 234px;
    display: flex;
    padding: 10px 0;
    justify-content: end;
    text-align: center;
}
.coupon a .coupon_receive {
    margin-right: 567px;
    color: #fff;
    font-size: 0.938rem; 
}
.coupon a .today_none {
    color: #fff;
    font-size: 0.813rem;
}
/* ===================== */
/* ---------------header */
header {z-index: 999;
    position: absolute; top: 84px; left: 50%; transform: translateX(-50%);
    /* border: 1px solid red; */
    width: 1452px; margin: 0 auto;
}
header .header_top {
    /* border: 1px solid red; */
    width: 1452px; margin: 0 auto;
    display: flex; justify-content: end;
    margin-bottom: 16px;
}
header .header_top .login {
    color: #888;
    font-size: 0.813rem;
}
header .header_top .login::after {
    content: '';
    height: 4px; border: 0.5px solid #888;
    margin: 0 14px;
}
header .header_top .join {
    color: #888;
    font-size: 0.813rem;
}
/* logo */
header .header_bottom {
    display: flex; justify-content: space-between; align-items: center;
}
header .header_bottom h1 {}
header .header_bottom h1 a {}
header .header_bottom h1 a img {}
/* ----nav */
header .header_bottom nav {}
/* 메인메뉴 */
header .header_bottom nav .gnb {
    display: flex;
}
header .header_bottom nav .gnb li {
    margin-right: 50px;
}
header .header_bottom nav .gnb li:last-child {margin-right: 0;}
header .header_bottom nav .gnb li a {}
/* 서브메뉴 */
header .header_bottom nav .gnb li .sub {
    display: none;
    border: 1px solid #000;
    text-align: center; 
    margin-top: 12px;
    border-radius: 3px;
}
header .header_bottom nav .gnb li .sub:nth-child(1) {
    width: 100px; margin-top: 17px; margin-left: 22px;
}
header .header_bottom nav .gnb li .sub:nth-child(2) {
    width: 112px;
}
header .header_bottom nav .gnb li .sub:nth-child(3) {
    width: 100px;
}
header .header_bottom nav .gnb li .sub li {
    margin-bottom: 18px;
}
header .header_bottom nav .gnb li .sub li:nth-child(1) {

}
header .header_bottom nav .gnb li .sub li:nth-child(2) {}
header .header_bottom nav .gnb li .sub li:nth-child(3) {
    margin-bottom: 18px;
}
header .header_bottom nav .gnb li .sub li a {}
/* search, clock, cart -> icon */
header .header_bottom .header_right {}
header .header_bottom .header_right a {
    margin-right: 22px;
}
header .header_bottom .header_right a:last-child {margin-right: 0;}
header .header_bottom .header_right a img {}
/* ===================== */
/* -----------------main */
main {
    width: 100%; margin: 0 auto;
}
main .main1 {width: 1920px; margin: 0 auto;}
main .main1 .arrr {}
/* ==swiper== */
main .main1 .arrr .swiper {}
main .main1 .arrr .main-slide {}
main .main1 .arrr .swiper .swiper-wrapper {}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide {}
/* -----------------------위 css건들면 안됨 */
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr {}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg {width: 100%;}
/* main swiper 개별 이미지 */
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg1 {
    background-image: url(../images/main_bg_1.jpg); 
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg2 {
    background-image: url(../images/main_bg_2.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg3 {
    background-image: url(../images/main_bg_3.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg4 {
    background-image: url(../images/main_bg_4.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg5 {
    background-image: url(../images/main_bg_5.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg6 {
    background-image: url(../images/main_bg_6.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg7 {
    background-image: url(../images/main_bg_7.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg8 {
    background-image: url(../images/main_bg_8.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg9 {
    background-image: url(../images/main_bg_9.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
/* ======swiper contents */
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents {}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents h2 {
    padding-left: 312px; padding-top: 311px;
    font-size: 3.75rem; font-weight: 700;
    margin-bottom: 16px;
    line-height: 87px;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents p {
    padding-left: 312px;
    font-size: 1.063rem; letter-spacing: -0.2px;
    color: #999;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents p span {font-size:  1.063rem; font-weight: 700;}
/* swiper (화살표 디자인) */
main .main1 .arrr .swiper-button-next {
    color: rgb(0, 0, 0, 0.5); right: 50px;
    border: 1px solid rgb(0, 0, 0, 0.5); width: 60px; height: 60px;
    border-radius: 50%;
}
main .main1 .arrr .swiper-button-prev {
    color: rgb(0, 0, 0, 0.5); left: 50px;
    border: 1px solid rgb(0, 0, 0, 0.5); width: 60px; height: 60px;
    border-radius: 50%;
} /* ?? */
main .main1 .arrr .swiper-button-prev::after,
main .main1 .arrr .swiper-button-next::after {
    transform: scale(0.5);
}
/* ====================================== */
main .main2 {
    width: 882px; 
    margin: 0 auto; margin-top: 87px; text-align: center;
    margin-bottom: 80px;
}
main .main2 .arrr_menu {/* border: 1px solid blue; */
    display: flex;
}
main .main2 .arrr_menu li {
    margin-right: 30px; /* border: 1px solid red; */
}
main .main2 .arrr_menu li:last-child {margin-right: 0;}
main .main2 .arrr_menu li a {
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main .main2 .arrr_menu li a img {
    margin-bottom: 12px;
}
main .main2 .arrr_menu li a span {}
/* ================================ */
/* ----------------------------main3 */
main .main3 {
    width: 1447px; margin: 0 auto;
    padding-bottom: 110px;
    border-bottom: 1px solid #B7B7B7;
}
main .main3 h3 {/* border: 1px solid blue; */
    font-size: 2.188rem; font-family: 'Francois One', sans-serif;
    margin-bottom: 25px; text-align: center;
}
main .main3 > a {
    display: flex; align-items: center;
    justify-content: end;
    margin-bottom: 28px;
}
main .main3 a span {font-size: 1.063rem;}
main .main3 a img {}
main .main3 .event_contents {
    width: 1447px; margin: 0 auto;
    display: flex; justify-content: center;
}
main .main3 .event_contents .event_product {margin-right: 44px;}
main .main3 .event_contents .event_product:last-child {margin-right: 0;}
main .main3 .event_contents .event_product a {}
main .main3 .event_contents .event_product a .event_img {margin-bottom: 12px;}
main .main3 .event_contents .event_product a .event_img img {}
main .main3 .event_contents .event_product a .event_title {
    font-size: 1.25rem; font-weight: 500; 
    margin-bottom: 5px;
}
main .main3 .event_contents .event_product a .event_date {
    font-size: 1.125rem;
}
/* ================================================= */
/* -------------------------------------------main4 */
main .main4_{
    width: 100%; margin: 0 auto;
    padding-bottom: 53px;
}
main .main4 .main4_contents {
    width: 1452px; margin: 0 auto; 
    margin-bottom: 73px;
}
main .main4 .main4_contents h3 {
    margin-top: 43px;
    font-size: 2.813rem;
    margin-bottom: 14px;
    font-family: 'Francois One', sans-serif;
}
main .main4 .main4_contents p {margin-bottom: 32px; font-family: 'Francois One', sans-serif;}
main .main4 .main4_contents a {
    display: flex; align-items: center; justify-content: space-between;
    border-bottom: 1px solid #000; display: inline-block;
    width: 295px;
}
main .main4 .main4_contents a span {
    /* border: 1px solid blue; */
    font-family: 'Francois One', sans-serif;
}
main .main4 .main4_contents a img {
    margin-left: 247px;
}
main .main4 .main4_all_swiper {
    width: 1452px; margin: 0 auto;
    /* border: 1px solid red; */
    padding-bottom: 53px;
}
main .main4 .main4_all_swiper .arr_all_product {
    position: relative; 
}
/* ----swiper 시작 */
main .main4 .main4_all_swiper .arr_all_product .swiper {}
main .main4 .main4_all_swiper .arr_all_product .product-slide {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide {}
/* ------------위 swiper 건들면 안됨 */
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_img {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_img img {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_name {
    font-size: 1.125rem; margin-top: 17px; margin-bottom: 8px;
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_name span {
    font-weight: 700;
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_price {
    font-size: 0.938rem; 
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_price span {
    font-size: 1.188rem; 
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-button-next {
    color: #fff; background-color: #AAAAAA;
    width: 26px; height: 26px;
    transform: scale(1.5);
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-button-prev {
    color: #fff; background-color: #aaa;
    width: 26px; height: 26px;
    transform: scale(1.5);
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-button-next::after,
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-button-prev::after {
    transform: scale(0.4);
}
main .main4 .main4_all_swiper .arr_all_product .swiper-pagination {
    top: 555px;
    background-color: #999;
}
main .main4 .main4_all_swiper .arr_all_product .swiper-pagination .swiper-pagination-progressbar-fill {
    background-color: #000;
}
/* ======================================================================= */
main .main5 {
    width: 1452px; margin: 0 auto;
    display: flex;
    margin-top: 100px; margin-bottom: 100px;
    text-align: center;
}
main .main5 .main5_img {}
main .main5 .main5_img img {}
main .main5 .membership {
    background-color: #000; width: 773px;
    padding: 39px 0 39px;
}
main .main5 .membership a {}
main .main5 .membership a .membership_title {
    font-size: 2.313rem; font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
main .main5 .membership a .membership_content {
    font-size: 1.375rem; letter-spacing: -0.2px;
    color: #fff;
}
main .main5 .review {
    background-color: #F3F3F3;
    width: 679px;
    padding: 39px 0 39px;
}
main .main5 .review a {}
main .main5 .review a .review_title {
    font-size: 2.313rem; font-weight: 700;
    margin-bottom: 5px;
}
main .main5 .review a .review_content {
    font-size: 1.375rem; letter-spacing: -0.2px;
}
/* ========================================= */
main .main6 {
    width: 1364px; margin: 0 auto;
}
main .main6 h3 {
    text-align: center;
    font-size: 1.75rem; font-family: 'francois one', sans-serif;
    margin-bottom: 18px;
}
main .main6 .main6_content {
    font-size: 1.063rem; letter-spacing: -0.2px;
    text-align: center;
}
/* --------- 상품 */
main .main6 .main6_product {
    margin-top: 33px; margin-bottom: 107px;
    display: flex; justify-content: space-between; align-items: center;
    background-color: lightblue;
}
main .main6 .main6_product a {}
main .main6 .main6_product a .best_img {}
main .main6 .main6_product a .best_img img {}
main .main6 .main6_product a .best_img .net1 {
    position: absolute; top: 3064px; left: 292px;
}
main .main6 .main6_product a .best_img .net2 {}
main .main6 .main6_product a .best_img .net3 {}
main .main6 .main6_product a .best_img .net4 {}
main .main6 .main6_product a .best_img .net img {}
main .main6 .main6_product a .best_img .new1 {
    position: absolute; left: 329px;
    border: 1px solid blue;
}
main .main6 .main6_product a .best_img .new2 {}
main .main6 .main6_product a .best_img .new3 {}
main .main6 .main6_product a .best_img .new4 {}
main .main6 .main6_product a .best_img .new img {}
main .main6 .main6_product a .best_title {
    font-size: 1.063rem;
    margin-bottom: 13px;
}
main .main6 .main6_product a .best_price {
    font-weight: 600;
}
main .main6 .main6_product a .best_price > span {
    font-weight: 700; font-size: 1.438rem; 
}
main .main6 .main6_product a .best_price .percent {
    font-size: 1.438rem; font-weight: 400;
}
main .main6 .main6_product a .best_price del {color: #C2C2C2;}
/* ============================================================== */
main .main7_bg {
    background-image: url(../images/main7_bg.jpg);
    width: 100%; margin: 0 auto; /* height: 542px; */
    margin-bottom: 131px;
}
main .main7_bg .main7 {
    width: 1920px; margin: 0 auto;
    padding-top: 141px; padding-left: 339px; padding-bottom: 141px;
}
main .main7_bg .main7 h3 {
    font-size: 2.625rem; font-family: 'francois one',sans-serif;
    color: #fff;
    margin-bottom: 20px;
}
main .main7_bg .main7 .main7_content {
    font-size: 1.063rem; line-height: 28px;
    color: #fff;
    margin-bottom: 40px;
}
main .main7_bg .main7 .about_btn {
    width: 205px; background-color: #000;
    color: #fff;
    font-size: 1.125rem; font-family: 'francois one', sans-serif;
    padding: 10px 55px;
    border-radius: 3px;
}
/* ============================================================== */
main .main8_bg {}