/* 앱 전용 쿠폰 2종 받기 */
.coupon {
    width: 100%; margin:0 auto;
    background-color: #474949;
}
.coupon a {
    width: 1452px; margin: 0 234px;
    display: flex;
    padding: 10px 0;
    justify-content: end;
    text-align: center;
}
.coupon a .coupon_receive {
    margin-right: 567px;
    color: #fff;
    font-size: 0.938rem; 
}
.coupon a .today_none {
    color: #fff;
    font-size: 0.813rem;
}
/* ===================== */
/* 로그인 | 회원가입 */
.my {z-index: 999;
    position: fixed; top: 52; right: 234px;
    /* border: 1px solid red; */
    width: 1452px; margin: 0 auto;
    display: flex; justify-content: end;
    padding-top: 17px; padding-bottom: 17px;
}
.my .login {
    color: #888;
    font-size: 0.813rem;
}
.my .login::after {
    content: '';
    height: 4px; border: 0.5px solid #888;
    margin: 0 14px;
}
.my .join {
    color: #888;
    font-size: 0.813rem;
}
/* ===================== */
/* ---------------header */
header {z-index: 999;
    position: fixed; top: 84px; left: 234px;
    /* border: 1px solid red; */
    width: 1452px; margin: 0 auto;
    display: flex; justify-content: space-between;
    align-items: center;
}
/* logo */
header h1 {}
header h1 a {}
header h1 a img {}
/* ----nav */
header nav {}
/* 메인메뉴 */
header nav .gnb {
    display: flex;
}
header nav .gnb li {
    margin-right: 50px;
}
header nav .gnb li:last-child {margin-right: 0;}
header nav .gnb li a {}
/* 서브메뉴 */
header nav .gnb li .sub {
    display: none;
}
header nav .gnb li .sub li {}
header nav .gnb li .sub li a {}
/* search, clock, cart -> icon */
header .header_right {}
header .header_right a {
    margin-right: 22px;
}
header .header_right a:last-child {margin-right: 0;}
header .header_right a img {}
/* ===================== */
/* -----------------main */
main {
    width: 100%; margin: 0 auto;
}
main .main1 {}
main .main1 .arrr {}
/* ==swiper== */
main .main1 .arrr .swiper {}
main .main1 .arrr .main-slide {}
main .main1 .arrr .swiper .swiper-wrapper {}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide {}
/* -----------------------위 css건들면 안됨 */
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr {}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg {width: 100%;}
/* main swiper 개별 이미지 */
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg1 {
    background-image: url(../images/main_bg_1.jpg); 
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg2 {
    background-image: url(../images/main_bg_2.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg3 {
    background-image: url(../images/main_bg_3.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg4 {
    background-image: url(../images/main_bg_4.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg5 {
    background-image: url(../images/main_bg_5.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg6 {
    background-image: url(../images/main_bg_6.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg7 {
    background-image: url(../images/main_bg_7.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg8 {
    background-image: url(../images/main_bg_8.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg9 {
    background-image: url(../images/main_bg_9.jpg);
    width: 100%; height: 918px;
    background-repeat: no-repeat;
}
/* ======swiper contents */
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents {}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents h2 {
    padding-left: 312px; padding-top: 311px;
    font-size: 3.75rem; font-weight: 700;
    margin-bottom: 16px;
    line-height: 87px;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents p {
    padding-left: 312px;
    font-size: 1.063rem; letter-spacing: -0.2px;
    color: #999;
}
main .main1 .arrr .swiper .swiper-wrapper .swiper-slide .swiper_arrr .bg .contents p span {font-size:  1.063rem; font-weight: 700;}
/* swiper (화살표 디자인) */
main .main1 .arrr .swiper-button-next {
    color: rgb(0, 0, 0, 0.5); /* right: -150px; */
}
main .main1 .arrr .swiper-button-prev {
    color: rgb(0, 0, 0, 0.5); /* left: -150px; */
} /* ?? */
/* ====================================== */
main .main2 {
    width: 882px; 
    margin: 0 auto; margin-top: 87px; text-align: center;
    margin-bottom: 80px;
}
main .main2 .arrr_menu {/* border: 1px solid blue; */
    display: flex;
}
main .main2 .arrr_menu li {
    margin-right: 30px; /* border: 1px solid red; */
}
main .main2 .arrr_menu li:last-child {margin-right: 0;}
main .main2 .arrr_menu li a {
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main .main2 .arrr_menu li a img {
    margin-bottom: 12px;
}
main .main2 .arrr_menu li a span {}
/* ================================ */
/* ----------------------------main3 */
main .main3 {
    width: 100%; margin: 0 auto;
    padding-bottom: 110px;
    border-bottom: 1px solid #B7B7B7;
}
main .main3 h3 {/* border: 1px solid blue; */
    font-size: 2.188rem; font-weight: 700;
    margin-bottom: 25px; text-align: center;
}
main .main3 > a {/* border: 1px solid red; */
    display: flex; align-items: center;
    justify-content: end;
    margin-bottom: 28px;
}
main .main3 a span {font-size: 1.063rem;}
main .main3 a img {}
main .main3 .event_contents {
    display: flex; margin: 0 auto; justify-content: center;
}
main .main3 .event_contents .first {margin-right: 44px;}
main .main3 .event_contents .first a {}
main .main3 .event_contents .first a .event_img {margin-bottom: 12px;}
main .main3 .event_contents .first a .event_img img {}
main .main3 .event_contents .first a .event_title {
    font-size: 1.25rem; font-weight: 500; 
    margin-bottom: 5px;
}
main .main3 .event_contents .first a .event_date {}
main .main3 .event_contents .second {margin-right: 44px;}
main .main3 .event_contents .second a {}
main .main3 .event_contents .second a .event_img {margin-bottom: 12px;}
main .main3 .event_contents .second a .event_img img {}
main .main3 .event_contents .second a .event_title {
    font-size: 1.25rem; font-weight: 500;
    margin-bottom: 5px;
}
main .main3 .event_contents .second a .event_date {
    font-size: 1.125rem; 
}
main .main3 .event_contents .third {margin-right: 44px;}
main .main3 .event_contents .third a {}
main .main3 .event_contents .third a .event_img {margin-bottom: 12px;}
main .main3 .event_contents .third a .event_img img {}
main .main3 .event_contents .third a .evnet_title {
    font-size: 1.25rem; font-weight: 500;
    margin-bottom: 5px;
}
main .main3 .event_contents .third a .evnet_date {}
/* ================================================= */
/* -------------------------------------------main4 */
main .main4_{
    width: 100%; margin: 0 auto;
    padding-bottom: 53px;
    font-family: 'Francois One', sans-serif;
}
main .main4 .main4_contents {
    width: 1452px; margin: 0 auto; 
    margin-bottom: 73px;
}
main .main4 .main4_contents h3 {
    margin-top: 43px;
    font-size: 2.813rem;
    margin-bottom: 14px;
}
main .main4 .main4_contents p {margin-bottom: 32px;}
main .main4 .main4_contents a {
    display: flex; align-items: center;
    border-bottom: 1px solid #000; display: inline-block;
}
main .main4 .main4_contents a span {font-weight: 700;}
main .main4 .main4_contents a img {margin-left: 247px;}
main .main4 .main4_all_swiper {
    width: 1452px; margin: 0 auto;
}
main .main4 .main4_all_swiper .arr_all_product {}
/* ----swiper 시작 */
main .main4 .main4_all_swiper .arr_all_product .swiper {}
main .main4 .main4_all_swiper .arr_all_product .product-slide {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide {}
/* ------------위 swiper 건들면 안됨 */
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_img {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_img img {}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_name {
    font-size: 1.125rem; margin-top: 17px; margin-bottom: 8px;
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_name span {
    font-weight: 700;
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_price {
    font-size: 0.938rem; 
}
main .main4 .main4_all_swiper .arr_all_product .swiper .swiper-wrapper .swiper-slide .swiper_arr_all a .product_price span {
    font-size: 1.188rem; 
}